td {
    padding: 5px;
    background: silver;
    color: red;
    border: 1px solid #fff;
}

button {
    padding: 5px;
    border: 1px solid #222;
    width: 80px;
}

button.delete {
    color: white;
    background: red;
}

button.update {
    color: white;
    background: green;
}